<div class="jumbotron">
  <h1 class="display-4">Bookman</h1>
  <p class="lead">Navigate Books, Authors, Sales, and Reviews.</p>
  <hr class="my-4">
  <p>Enjoy managing your library and sales data!</p>
</div>
