<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<%= link_to "New review", new_review_path %>


<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>

